@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var userId = HttpContextAccessor.HttpContext.Session.GetString("UserId");
    var role = HttpContextAccessor.HttpContext.Session.GetString("UserRole");
}



<link rel="stylesheet" href="~/css/MainPage.css" asp-append-version="true" />
<div id="main">
    <div class="aside" style="display: flex; min-height: calc(100vh - 60px);">


        @if (userId!= "")
        {
            <!-- <partial name="_Sidebar" />-->
            <aside class="aside" style="width: 250px; background: #DA0037; display: flex; min-height: calc(100vh - 60px);">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Post" asp-action="Post">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Category" asp-action="Category">Categories</a>
                    </li>
                    <li class="nav-item">
                    </li>
                </ul>
            </aside>
        }
      
    </div>

    <div class="mainPage">
    </div>




</div>