@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var userId = HttpContextAccessor.HttpContext.Session.GetString("UserId");
    var role = HttpContextAccessor.HttpContext.Session.GetString("UserRole");
}



<link rel="stylesheet" href="~/css/MainPage.css" asp-append-version="true" />
<div id="main">
    @if (userId != "" || userId != null)
    {
        <div class="aside">



           <partial name="_Sidebar" />
           


        </div>
    }
    <div class="mainPage">
    </div>




</div>