@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var userId = HttpContextAccessor.HttpContext.Session.GetString("UserId");
    var role = HttpContextAccessor.HttpContext.Session.GetString("UserRole");
}
@model CSharpCollective.Services.DtoModels.CommentDto;

<link rel="stylesheet" href="~/css/Comment.css" asp-append-version="true" />
<div class="main">
    <partial name="_Sidebar" />
    <div class="dataForm">
        <div class="createForm">

            <h2>Leave a comment or a suggestion</h2>
            <div>
                <form asp-action="Create" method="post">

                    <label>Content</label>           
                    <textarea asp-for="Content" class="form-control"></textarea>
                    <button type="submit" class="btn btn-success mt-2">Post comment</button>
                </form>
            </div>

        </div>
        <div id="temp">

            @if (@TempData["ErrorMessage"] != null)
            {
                <p>@TempData["ErrorMessage"]</p>
            }

        </div>
    </div>


</div>
