@model CSharpCollective.Controllers.LoginController;
@{




}
<div>
    <form asp-action="Login" method="post">
    <h1>Login</h1>
    <input name="Username" />
    <input name="Password" type="password" />
    <button type="submit">Login</button>
    </form>
</div>