@model CSharpCollective.Controllers.LoginController;
@{

    

}

<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
<div id="main"> 
<div id="login-input">
    <form asp-action="Login" method="post">
        <h1>Sign in</h1>     
        <p>Username</p>
        <input name="Username" autocomplete />
        <p>Password</p>
    <input name="Password" type="password" />
    <button type="submit">Login</button>
    </form>
    </div>
</div>