
@model CSharpCollective.Services.DtoModels.PostDto;
<link rel="stylesheet" href="~/css/Post.css" asp-append-version="true" />
<div class="main">
    <partial name="_Sidebar" />
    <div class="editFrom">
        <h2>Edit</h2>
        <div>
            <form asp-action="Edit" method="post">

                <label>Title</label>
                <textarea name="Title" class="form-control">@Model.Title</textarea>              
                <label>Content</label>
                <textarea name="Content" class="form-control">@Model.Content</textarea>

                <button type="submit" class="btn btn-success mt-2">Save</button>
            </form>
        </div>
    </div>
</div>

@TempData["EditError"]

















-->
