<link rel="stylesheet" href="~/css/MainPage.css" asp-append-version="true" />
<aside class="aside" >
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Post" asp-action="Post">Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Category" asp-action="Category">Categories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Comment" asp-action="Comment">Comment</a>
        </li>
    </ul>
</aside>

