@model CSharpCollective.Services.DtoModels.UserDto;
@{




}
<div>
    <form asp-action="Register" method="post">
        <h1>Sign up</h1>
        <input name="Username" />
        <input name="Email" />
        <input name="Password" type="password" />      
        <button type="submit">Register</button>
    </form>
</div>