@model CSharpCollective.Services.DtoModels.UserDto;
@{



}
<div>
    <form asp-action="Register" method="post">
        <h1>Sign up</h1>
        <p>Username</p>
        <input name="Username" />
        <p>Email</p>
        <input name="Email" autocomplete="off" />
        <p>Password</p>
        <input name="Password" type="password" />      
        <button type="submit">Register</button>

        @TempData["RegisterError"]
    </form>
</div>